body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
 }
 .header{
    background-color: #3b5998;
    height: 160px;
    width: 100%;
 color: #fff;
 }
 .container{
    width: 90%;
    margin: 0 auto;
    color: ;
 }
 .container.label{
    width: 69%;
    float: right;
    color: #fff;
 }
 .container.login{
    width: 80%;
    float: left;
 }
 .container.label h1{
    font-size: 44px;
    padding-left: 5px;
 }
 .content{
    float: left;
    width: 50%;
    color: #063865;
 }


 .content h3{
    line-height: 1.5;
    font-size: 20px;
 }
 .signup{
   float: right;
   width: 50%;
   padding-left: 75px;
   box-sizing: border-box;

 }
 .signup h1,.signup h3{
   color:#444;
   margin: 5px;
 }
 
 button{
   width: 200px;
   height: 40px;
   font-size: 20px;
   background-color: green;
   margin-bottom: 20px;
   color: #fff;
   margin-top: 8px;
   border-radius: 8px;
   cursor: pointer;
 }
button:hover{
   background-color: #34ad13;
}

  